<div class="goal-extension-container">
    <div *ngIf="!goalsLoading">
    <div class="goal-extension-list"  [style.maxHeight.px]="maxHeight" *ngFor="let goalItem of userGoals">
        <div>
            <app-goal-item
                [user] = 'selectedUser' 
                [goalItem]="goalItem" 
                (onGoalSelect)="onSelectGoal($event)">
            </app-goal-item>
            <hr style="width: 80%;">
        </div>
    </div>
    <app-input style="margin-top: 0.6rem;"
        [isInputActive]='isInputActive'
        [addActionName]="'Add a goal'" 
        (onCancelEvent)="onInputCancel()"
        (onAddEvent)="onInputAdd($event)">
    </app-input>
    </div>
    <div *ngIf="goalsLoading">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>