<div class="goal-extension-container">
    <div *ngIf="!goalsLoading" style="width: 60%;">
    <div class="goal-extension-list"  [style.maxHeight.px]="maxHeight" *ngFor="let goalItem of userGoals">
        <div>
            <app-goal-item
                [user] = 'selectedUser' 
                [goalItem]="goalItem" 
                (onGoalSelect)="onSelectGoal($event)">
            </app-goal-item>
            <hr style="width: 80%;">
        </div>
    </div>
    <lib-input style="margin-top: 0.6rem;"
        [inputType]="'GOAL'"
        [addActionName]="'Add Goal'"
        [titlePlaceholder]="'E.g: Meet our clients'"
        [descPlaceholder]="'E.g: you can find their content in Outlook'">
    </lib-input>
    </div>
    <div *ngIf="goalsLoading">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>