.user img {
    border-radius: 50%;
    height: 2.7rem;
    width: 2.7rem;
    cursor: pointer;
    padding: 4px;
    border: 2px solid lightsteelblue
}

.user img:hover {
    background-color: lightgray;
}

.logo img {
    height: 3rem;
}

.logo{
    cursor: pointer;
}

.custom-header {
    height: 10vh;
    background-color: #fafafa;
}