.user img {
    border-radius: 50%;
    height: 2.7rem;
    width: 2.7rem;
    cursor: pointer;
    padding: 4px;
    border: 2px solid lightsteelblue
}

.user img:hover {
    background-color: lightgray;
}

.logo img {
    height: 3rem;
}

.logo{
    cursor: pointer;
}

header {
    background-color: #fafafa;
}

.header-center {
    flex-grow: 3;
    display: flex;
    justify-content: center;
}

.header-center a {
    margin: 0 0.3rem;
}

.right {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.left {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    padding: 0.5rem;
}