    <div *ngIf="inviteUser$ | async as user" >
        <div *ngIf="userPresent" class="invite-container">
            <div class="user">
                <div>{{user.displayName}}</div>
                <img src="{{user.imagePath}}">
            </div>
            <div style="display: flex;">
                <div>select role</div>
                <select class="form-select" aria-label="Default select example">
                    <option value="1">Editor</option>
                    <option value="3">Newcomer</option>
                  </select>
            </div>
            <button type="button" class="btn btn-outline-success" (click)="onAddUser()">
                Add to {{orgName}} group
            </button>
        </div>
    </div>
    <div *ngIf="!userPresent" class="info-container">
        <div class="alert alert-warning" role="alert">
            <p class="email">{{inviteUserEmail}}</p><p>is not present in MyOnboard DB</p>
        </div>
    </div>