    <div *ngIf="inviteUser$ | async as user" >
        <div *ngIf="userPresent" class="invite-container">
            <div class="user">
                <div>{{user.displayName}}</div>
                <img src="{{user.imagePath}}">
            </div>
            <div class="role">
                <div class="role-title" >Select role</div>
                <select  class="form-select" [(ngModel)]="selectedValue" >
                    <option *ngFor="let role of roles"
                        [ngValue]="role">
                        {{role}}
                    </option>    
                </select>
            </div>
            <div class="add-button">
                <button type="button" 
                        class="btn btn-outline-success"
                        style="width: 100%; margin: 1rem;" 
                        (click)="onAddUser()">
                    Add to {{orgName}} group
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="!userPresent" class="info-container">
        <div class="alert alert-warning" role="alert">
            <p class="email">{{inviteUserEmail}}</p><p>is not present in MyOnboard DB</p>
        </div>
    </div>