<div class="status-container" *ngIf="!loading">
    <app-price-card
        [showPrice]="false"
        [productId]="'prod_KpSSIUM75mOPXq'"
        [activeProductId]="activeSubscriptionId">
    </app-price-card > 
    <app-price-card 
        [showPrice]="false"
        [productId]="'prod_KqBg25XVI7I0YA'"
        [activeProductId]="activeSubscriptionId">
    </app-price-card>
    <app-price-card 
        [showPrice]="false"
        [productId]="'prod_KqBg25XVI7I0YAzzz'"
        [activeProductId]="activeSubscriptionId">
    </app-price-card>
</div>
