.comment-container {
    display: flex;
    margin: 0.7rem;
}
/* 
.comment-container:hover {
    background-color: rgb(179, 212, 255); 
    border-radius: 10rem;
} */

img {
    border-radius: 50%;
}

.user-image {
    display: flex;
    background-color: gray;
    height: 2rem;
    border-radius: 50%;
    margin: auto;
}

.input-content {
    display: flex;
    width: 100%;
    border-radius: 15px;
    flex-direction: column;
    margin-left: 1rem;
}