<div class="card-container" [ngClass]="{'active-subscription' : isSubscriptionActive}">
    <div class="card-content">Lorem ipsum</div>
    <div class="card-content">Contrary to popular belief, Lorem Ipsum is not simply random text. </div>
    <div class="card-content">Lorem ipsum dolor sit amet</div>
    <div class="price-content" *ngIf="showPrice">{{price}} €</div>
    <div class="bottom-card">
        <button *ngIf="!isSubscriptionActive" 
            type="button" 
            style="flex-grow: 1;"
            (click)="onCheckout(activeProductId)"
            class="btn btn-primary"
            >{{buttonText}}
        </button>
        <button *ngIf="isSubscriptionActive"  
            type="button" 
            style="flex-grow: 1;"
            (click)="onCancel()"
            class="btn btn-danger"
            >Cancel
        </button>
    </div>
</div>