<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MyOnboard.io</a>
        <button *ngIf="!isLoggedIn"
          type="button" 
          class="btn btn-outline-primary"
          [disabled]="isAuthDialogOpen" 
          (click)="onLogin()">
          Login
        </button>
        <button *ngIf="isLoggedIn"
          type="button" 
          class="btn btn-outline-primary"
          [disabled]="isAuthDialogOpen" 
          (click)="onLogOut()">Logout
        </button>  
    </div>
  </nav>