<div class="auth-container">
    <div class="title">
        <span>Login</span>
    </div>
    <div class="dialog-form">
        <span>Email</span>
        <input type="text" class="form-control"  placeholder="Type your email">
        <span>Password</span>
        <input type="text" class="form-control"  placeholder="Type your password">
    </div>
    <div class="button-container">
        <button type="button" class="btn btn-outline-primary">Login</button>
    </div>
    <span>Forgot password?</span>
    <div class="auth-providers">
    <span>Or Sign Up using</span>
        <div class="google-logo">
            <img  src="assets/icons/google-logo.svg" alt="">
        </div>
    </div>
</div>