.app-container {
    display: flex;
    overflow: hidden;
    height: 90vh;
  }
  
  .app-navigation {
    width: 12rem; 
    display: flex;
    flex-direction: column;
    position: fixed;
  }
  
  .app-item-center { 
    flex-grow: 1; 
    height: 100%;
  }