
.analog-container {
    margin: 0.5rem;
}

.add-action-container {
    display: flex;
    cursor: pointer
}

.add-action-title {
    margin-left: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}