
.analog-container {
    margin: 0.5rem;
}

.add-action-container {
    display: flex;
    cursor: pointer
}

.add-action-title {
    margin-left: 0.7rem;
    font-family: 'Roboto';
    font-weight: 500;
}

.button-title {
    font-family: 'Roboto';
    font-weight: 400;
}