<div class="goal-item" [ngClass]="{'uncompleted' : !goalItem.completed}" [ngClass]="{'active' : active}"
    (click)="onSelectGoal(goalItem.id)">
    <div class="icon-container">
        <img *ngIf="!goalItem.completed" src="assets/icons/circle.svg" (click)="markCompleted(user, goalItem.id)">
    </div>
    <div class="icon-container">
        <img class="icon-completed" *ngIf="goalItem.completed" src="assets/icons/check2-circle.svg"
            (click)="undoCompleted(user, goalItem.id)">
    </div>
    <div class="goal-item-content">
        <span class="goal-name">
            {{goalItem.name}}
        </span>
        <span class="goal-description">
            {{goalItem.description}}
        </span>
    </div>
</div>