.goal-item {
    display: flex;
    cursor: pointer;
}

.goal-item:hover {
    background-color: rgb(179, 212, 255); 
    border-radius: 3px;
}

.uncompleted {
    margin-left: 0.1rem;
}

.icon-completed {
    height: 1.6rem;
}

.goal-name {
    font-weight: bold;
    margin-left: 0.5rem;
}

img{
    height: 1.3rem;
}

.active {
    background-color: rgb(179, 212, 255);
    border-radius: 3px;
}