
.goal-feature img {
    height: 15rem;
}

p {
    font-family: monospace;
    font-weight: 900;
    font-size: 1rem;
}

.landing-container {
    margin-top: 2rem;
}

.illustrate-row {
    display: flex;
}

.col-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}