<div class="container landing-container">
    <div class="row" style="margin: 3rem;">
      <div class="col-lg" >
          <div class="goal-feature">
              <img src="assets/landingpage/undraw_inbox_cleanup_re_jcbh.svg" alt="">
          </div>
      </div>
      <div class="col-lg">
          <div class="col-item">
              <p>Donec a scelerisque nunc, consectetur mollis magna. Morbi vitae egestas nisi. Nam non erat facilisis, efficitur massa at, iaculis tortor. In sed tortor semper, sollicitudin velit in, porta tortor.</p>
          </div>
      </div>
    </div>
    <div class="row" style="margin: 3rem;">
        <div class="col-lg">
            <div class="goal-feature">
                <img src="assets/landingpage/undraw_spreadsheets_re_alt0.svg" alt="">
            </div>
        </div>
        <div class="col-lg">
            <div class="col-item">
                <p>Donec a scelerisque nunc, consectetur mollis magna. Morbi vitae egestas nisi. Nam non erat facilisis, efficitur massa at, iaculis tortor. In sed tortor semper, sollicitudin velit in, porta tortor.</p>
            </div>
        </div>
      </div>
  </div>