.selected-goal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33rem;
}

span {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0.5rem;
}

.selected-textarea {
    width: 100%;
}