<div class="container">
    <div class="task-manager-container">
        <div class="task-list">
            <app-task *ngFor="let task of tasks" 
                [task]="task">
            </app-task>
        </div>
        <div class="profile-container">
            <div class="upper-container">
                <div>current task</div>
                <lib-profile-card 
                    [profile]="profile" 
                    [showEdit]="false">
                </lib-profile-card>
            </div>
            <div class="task-detailes">
                <div>task detailes</div>
            </div>
        </div>
    </div>
</div>