
.task-manager-container {
    display: flex;
}

.upper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15rem;
    margin-top: 1.5rem;
}

.task-list {
    height: 100%;
    display: flex;
    align-items: center;
    width: 61rem;
    overflow: hidden;
}

.task-detailes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

.profile-container {
    margin-left: 4rem;
}

.active{
 background-color: brown;
}
