
.task-manager-container {
    display: flex;
}

.upper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15rem;
    margin-top: 1.5rem;
}

.task-list {
    height: 100%;
    display: flex;
    align-items: center;
    width: 40rem;
    overflow: hidden;
}

.extension-detailes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

.profile-container {
    margin-left: 4rem;
}

img{
    height: 1.3rem;
}

.extension-list {
    display: flex;
}

.arrow-icon{
    display: flex;
    align-items: center;
}
