<div class="prices-container">
    <div class="description">
        Affordable Pricing for Everyone
    </div>
    <div class="cards">
    <div class="row" >
        <div class="col" style="margin: 0.7rem;" >
            <app-price-card 
                [price] = "'15'"
                [productId]="'price_1KAVIkK22cRi3yGNrnvzLQgt'"
                [buttonText]="'Start Now'" >
            </app-price-card>
        </div>
        <div class="col" style="margin: 0.7rem;" >
            <app-price-card 
                [price] = "'20'"
                [productId]="'price_1K9nXnK22cRi3yGNbI15Om67'"
                [buttonText]="'Start Now'">
            </app-price-card>
        </div>
      </div>
    </div>
</div>
