.prices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.description {
    flex-grow: 0.4;
    display: flex;
    align-items: center;
    font-family: monospace;
    font-weight: 900;
    font-size: larger;
    color: gray;
}

.cards {
    flex-grow: 1;
}