<div class="goal-extension-container">
    <div class="goal-extension-list">
        <div class="goals-list" [style.maxHeight.px]="maxHeight">
            <div *ngFor="let goalItem of goalExtension.goal" class="extension-container">
                <app-goal-item 
                    [active]="selectedGoal == goalItem" 
                    [goalItem]="goalItem" 
                    [user]="user" 
                    (onGoalSelect)="onSelectGoal($event)">
                </app-goal-item>
            </div>
        </div>
        <app-input 
            [isInputActive]='isInputActive' 
            [addActionName]="'Add Goal'" 
            (onCancelEvent)="onInputCancel()"
            (onAddEvent)="onInputAdd($event)">
        </app-input>
    </div>
    <div *ngIf="selectedGoal">
        <app-selected-goal
            [user]="user" 
            [selectedGoal]="selectedGoal">
        </app-selected-goal>
    </div>
</div>