
.extension-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 15rem;
}

.goals-list {
    overflow: auto;
}

.goal-extension-container {
    display: flex;
    width: 60rem;
    justify-content: space-around;
}

.goal-extension-list {
    display: flex;
    flex-direction: column;
}

.comment-container {
    display: flex;
    flex-direction: column;
}
