<div *ngFor="let goalItem of goalExtension.goal" class="extension-container">
    <div class="goal-item" [ngClass]="{'uncompleted' : !goalItem.completed}">
            <img *ngIf="!goalItem.completed" src="assets/icons/circle.svg">
            <img class="icon-completed" *ngIf="goalItem.completed" src="assets/icons/check2-circle.svg">
            <div class="goal-name">
                {{goalItem.name}}
            </div>
    </div>
</div>
<div class="add-goal-container" *ngIf="!isInputActive" (click)="onAddGoalSelect()">
        <svg xmlns="http://www.w3.org/2000/svg" height="1.3rem" fill="red" class="bi bi-plus-circle-fill"
            viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
        <div class="add-goal-title">
            Add goal
        </div>
</div>
<div *ngIf="isInputActive" >
    <app-input
        (onCancelEvent)="onInputCancel()"
        (onAddEvent)="onInputAdd($event)">
    </app-input>
</div>