
.add-goal-title {
    margin-left: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.extension-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 15rem;
}

.add-goal-container{
    width: 15rem;
    display: flex;
    margin: 1rem;
}

.goals-list{
    overflow: hidden;
    overflow-y: scroll;
    max-height: 35rem;
}

.goal-extension-container {
    display: flex;
    width: 60rem;
    justify-content: space-around;
    align-items: center;
}

.goal-extension-list {
    display: flex;
}
