<div class="prices-container">
    <div class="description">
        Affordable Pricing for Everyone
    </div>
    <div class="cards">
    <div class="row" >
        <div class="col" style="margin: 0.7rem;" >
            <app-price-card></app-price-card>
        </div>
        <div class="col" style="margin: 0.7rem;" >
            <app-price-card></app-price-card>
        </div>
        <div class="col" style="margin: 0.7rem;" >
            <app-price-card></app-price-card>
        </div>
        <div class="col" style="margin: 0.7rem;" >
            <app-price-card></app-price-card>
        </div>
      </div>
    </div>
</div>
